body
{
	background: #fdf7e9;
}
textarea
{
	resize:vertical;
}
.centeredText
{
	text-align:center;
}
.halfWidth
{
	width:50%;
}
#mainDiv
{
	display:block;
	margin: auto;
	text-align:center;
	width:1000px;
}
.inputGroupTable
{
	width:100%;
}
.inputCell
{
	vertical-align:top;
	border:solid 1px;
	background: white;
	text-align:left;
}
.inputItem
{
	vertical-align:top;
}
.grayed
{
	background:lightgray;
}
.tagSpan
{
	border:solid 1px;
	background:lightblue;
}

#finalSubmit
{
	width:100%;
	font-weight:bold;
}
