body
{
	background: #fdf7e9;
}
.centeredText
{
	text-align:center;
}
.leftText
{
	text-align:left;
}
.rightText
{
	text-align:right;
}
.halfWidth
{
	width:50%;
}
#mainDiv
{
	display:block;
	margin: auto;
	text-align:center;
	width:1000px;
}
.inputGroupTable
{
	width:100%;
}
.inputItem
{
	vertical-align:top;
	border:solid 1px;
	background: white;
}
.grayed
{
	background:lightgray;
}
.tagSpan
{
	border:solid 1px;
	background:lightblue;
}