.hidden
{
	visibility:hidden;
	width:0px;
	height:0px;
	display:none;
}
.bar
{
	background-color: #B4F5B4;
	width:0%;
	height:20px;
}
.percent
{
	border: 2px solid black;
}
.removeIcon
{
	vertical-align: top;
}
.removeAnchor
{
	position: relative;
	left:-32px;
	margin-right:-32px;
}
.uploadPreview
{
	display:inline;
	margin-left:8px;
	margin-right:8px;
}