#previewContainer
{
	border: solid 1px black;
	text-align:left;
}

.hiddenForImage
{
	visibility:hidden;
	width:0px;
	height:0px;
	display:none;
}

.progressBarContainer
{
	width:200px;
	height:20px;
	display:inline-block;
	position: relative;
	left:-200px;
	margin-right:-200px;
}

.progressBar
{
	width:0%;
	background-color: #00CC00;
}

.removeIcon
{
	vertical-align: top;
}

.removeAnchor
{
	position: relative;
	left:-32px;
	margin-right:-32px;
}

.uploadPreview
{
	display:inline;
	margin-left:8px;
	margin-right:8px;
}

.previewImage
{
	max-width:200px;
	max-height:200px;
	vertical-align: top;
}

.uploadingImage
{
	display:inline;
	margin-left:8px;
	margin-right:8px;
	width:150px;
	padding:25px;
	background-image:url('camera.gif');
	background-size:200px;
	background-position:center; 
}